<!-- Template: App Modal Component -->
<!-- 
    Komponen modal untuk konfirmasi dan dialog
    Menggunakan:
    - v-if untuk conditional rendering
    - v-bind untuk dynamic classes
    - @click.self untuk close on overlay
    - Event handling dengan @close, @confirm
-->
<div v-if="show" class="modal-overlay" @click.self="close">
    <div class="modal-content" :style="modalContentClasses">
        <!-- Header -->
        <div class="modal-header">
            <h3 class="modal-title">{{ title }}</h3>
            <button v-if="showClose" @click="close" type="button" class="modal-close">
                X
            </button>
        </div>

        <!-- Body -->
        <div class="modal-body">
            <slot></slot>
        </div>

        <!-- Footer -->
        <div v-if="showFooter" class="modal-footer">
            <slot name="footer">
                <button @click="cancel" type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">
                    {{ cancelText }}
                </button>
                <button @click="confirm" type="button" :class="confirmButtonClass">
                    {{ confirmText }}
                </button>
            </slot>
        </div>
    </div>
</div>
